# --- Python & System ---
__pycache__/
*.py[cod]
*$py.class
.DS_Store
.vscode/
.idea/

# --- Environment ---
venv_newSAMAug/
env/
.env


# --- Datasets & Outputs ---
# Ignoriamo i dati pesanti, carichiamo solo il codice
datasets/
old_code/
output/
src/augmentation/__pycache__
help/
logs/


src/models/HSNet_aux/config_train.sh

# --- Model Checkpoints ---
# Non caricare pesi su GitHub (limite 100MB)
checkpoints/
segment-anything-2/
checkpoints_sam/
*.pth
*.pt
*.onnx

# --- Logs ---
*.log